---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

    <Container className="mt-20">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Anggota, Pengurus dan Pendiri
            </Title>
        </div>
        <div class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Ketua Umum" description="Ignas Dwiatmana Sutapa" target="https://member-apdi.carrd.co">
                <span slot="icon">
                    <img src={"/images/Ignas.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Wakil Ketua Umum" description="Arif Ilham Adnan" target="https://member-apdi.carrd.co/#waketum">
                <span slot="icon">
                    <img src={"/images/Arif.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Bendahara" description="Hung Hung Natalya" target="https://member-apdi.carrd.co/#bendahara">
                <span slot="icon">
                    <img src={"/images/HungHung.jpeg"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Sekjen" description="Grace Heny" target="https://member-apdi.carrd.co/#sekjen">
                <span slot="icon">
                    <img src={"/images/Grace.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pendiri" description="Radityo Fajar Arianto" target="https://member-apdi.carrd.co/#radityo">
                <span slot="icon">
                    <img src={"/images/Radityo.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pendiri" description="Ferdian Agustiana" target="https://member-apdi.carrd.co/#ferdian">
                <span slot="icon">
                    <img src={"/images/Ferdian.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pengawas" description="Sigit Eri Soelistianto" target="https://member-apdi.carrd.co/#sigit">
                <span slot="icon">
                    <img src={"/images/Sigit.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pengawas" description="Rendra Arjakusumah" target="https://member-apdi.carrd.co/#rendra">
                <span slot="icon">
                    <img src={"/images/Rendra.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pengawas" description="Agung Satriyo" target="https://member-apdi.carrd.co/#agung">
                <span slot="icon">
                    <img src={"/images/Agung.jpeg"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Anggota" description="Robby Saputra" target="https://member-apdi.carrd.co/#robby">
              <span slot="icon">
                  <img src={"/images/Robby.png"} width="150" height="150" />
              </span>
          </Service>
        </div>
       
    </Container>
