---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Pengurus dan Pendiri
            </Title>
            <Paragraph>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Ketua Umum" description="Ignas Dwiatmana Sutapa">
                <span slot="icon">
                    <img src={"/images/Ignas.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Wakil Ketua Umum" description="Arif Ilham Adnan">
                <span slot="icon">
                    <img src={"/images/Arif.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Bendahara" description="Hung Hung Natalya">
                <span slot="icon">
                    <img src={"/images/Hunghung.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Sekjen" description="Grace Heny">
                <span slot="icon">
                    <img src={"/images/Grace.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pendiri" description="Radityo Fajar Arianto">
                <span slot="icon">
                    <img src={"/images/Radityo.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pendiri" description="Ferdian Agustiana">
                <span slot="icon">
                    <img src={"/images/Ferdian.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pengawas" description="Sigit Eri Soelistianto">
                <span slot="icon">
                    <img src={"/images/Sigit.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pengawas" description="Rendra Arjakusumah">
                <span slot="icon">
                    <img src={"/images/Rendra.png"} width="150" height="150" />
                </span>
            </Service>
            <Service title="Pengawas" description="Agung Satriyo">
                <span slot="icon">
                    <img src={"/images/Agung.png"} width="150" height="150" />
                </span>
            </Service>
        </div>
    </Container>
</section>