---
import Layout from "../layouts/Layout.astro";
import MemberList from "../components/sections/MemberList.astro";
---
<Layout title="Blog Post">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <MemberList />
    </main>
</Layout>
