---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/sections/BlogList.astro"
---
<Layout title="Blog Post">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <BlogList />
    </main>
</Layout>
